<form name="contact" action="https://prod-193.westeurope.logic.azure.com:443/workflows/e653a492595245e793ec8e206837df1f/triggers/HTTPREQ/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FHTTPREQ%2Frun&sv=1.0&sig=fBZYi9QzNzHUAD8luakiIf4_VBJZ7pu_KUamftgt5k8" method="POST">
    <div class="input">
        <input type="text" placeholder="Name" name="name" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="Email" name="mail" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="Title" name="title" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <textarea rows="5" cols="30" placeholder="Message" name="message" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required></textarea>
    </div>
    <input type="submit" value="Submit" class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
</form>
